{% extends "base.html" %}

{% block content %}
	<h1>Change Your Password</h1>
	<form action="" method="post">
		{{ form.hidden_tag() }}
		<p>
			{{ form.currentpassword.label }}<br>
			{{ form.currentpassword(size=32) }}<br>
			{% for error in form.currentpassword.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.newpassword.label }}<br>
			{{ form.newpassword(size=32) }}<br>
			{% for error in form.newpassword.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>
			{{ form.newpassword2.label }}<br>
			{{ form.newpassword2(size=32) }}<br>
			{% for error in form.newpassword2.errors %}
			<span style="color: red;">[{{ error }}]</span>
			{% endfor %}
		</p>
		<p>{{ form.submit() }}</p>
	</form>
{% endblock %}