{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

	<h1>Check attendance</h1>
	<div class="row">
		<div class="col-md-4">
			{{ wtf.quick_form(form) }}
		</div>
	</div>
	<div>
	<table>
		<thead>
			{% for col in columns %}
				<th> {{ col }} </th>
			{% endfor %}
		</thead>
		<tbody>
			{% for row in items %}
			<tr>
				{% for col in columns %}
					<td> {{ row[col] }} </td>
				{% endfor %}
			</tr>
 			{% endfor %}
 		</tbody>
 	</table> 
	{% if columns: %}
		<p> Classes Held for this course is {{ class_count }} </p>
		<p> Your attendance is {{ items|length }} out of {{ class_count }} </p>
	{% endif %}

 	</div>
 
{% endblock %}