{% extends "base.html" %}

{% block app_content %}

	<h1>Hi, {{ current_user.username }}!</h1>
	<div class="row">
		<div class="col-md-4">
			{% if current_user.role_id == faculty or current_user.role_id == ta %}
				<div> <a href="{{ url_for('attd_sysbp.upload_image') }}"> Mark attendance </a> </div>
				<div> <a href="{{ url_for('course_sysbp.view_courses') }}">View courses</a> </div>

			{% elif current_user.role_id == stud %}
				<div> <a href="{{ url_for('course_sysbp.checkattd') }}">Check attendance</a> </div>
				<div> <a href="{{ url_for('course_sysbp.view_courses') }}">View courses</a> </div>

			{% elif current_user.role_id == admin %}
				<div> <a href="{{ url_for('log_sysbp.add_users') }}"> Add User </a> </div>
				<div> <a href="{{ url_for('log_sysbp.view_users') }}">View users</a> </div>
				<div> <a href="{{ url_for('log_sysbp.upd_users') }}">Update Users </a> </div>
				<div> <a href="{{ url_for('log_sysbp.del_users') }}">Delete Users</a> </div>

				<div> <a href="{{ url_for('course_sysbp.add_courses') }}"> Add Course </a> </div>
				<div> <a href="{{ url_for('course_sysbp.view_courses') }}">View courses</a> </div>
				<div> <a href="{{ url_for('course_sysbp.upd_courses') }}"> Update Course </a> </div>
				<div> <a href="{{ url_for('course_sysbp.del_courses') }}">Delete courses</a> </div>

				<div> <a href="{{ url_for('mapbp.add_course_user') }}"> Map user to Course </a> </div>
				<div> <a href="{{ url_for('mapbp.view_course_user') }}"> View Mappings  </a> </div>
				<div> <a href="{{ url_for('mapbp.upd_course_user') }}"> Update Mappings  </a> </div>
				<div> <a href="{{ url_for('mapbp.del_course_user') }}"> Delete Mappings  </a> </div> 

				<div> <a href="{{ url_for('dept_sysbp.add_dept') }}">Add Department</a> </div>
				<div> <a href="{{ url_for('dept_sysbp.view_dept') }}">View Departments</a> </div>
				<div> <a href="{{ url_for('dept_sysbp.upd_dept') }}">Update Department</a> </div>
				<div> <a href="{{ url_for('dept_sysbp.del_dept') }}">Delete Departments</a> </div>

			{% endif %}
		</div>
	</div>
{% endblock %}
