{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

	<h1>View {{ title }}</h1>
	<div class="row">
		<div class="col-md-4">
			<form class="form form-horizontal" method="post" role="form">
				{{ form.hidden_tag() }}
				{{ form.criteria(onchange='f1()')}}
				{{ form.match() }}
				{{ form.submit() }}
		</form>
			<script>
				function f1(){
					var temp = document.getElementsByName('criteria');
					if(temp[temp.length - 1].checked)
						document.getElementById("match").style.display = "none" ;
						document.getElementById("match").disabled = true;
					else
						document.getElementById("match").disabled = false;
						document.getElementById("match").style.display = "block" ;
				}
			</script>
		</div>
	</div>
	{% if table %}
		<div>
			{{ table }}
		</div>
	{% endif %}
 
{% endblock %}